version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: blog-nest-database
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - database:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h localhost -p$MYSQL_ROOT_PASSWORD || exit 1",
        ]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always

  backend:
    container_name: blog-nest-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
    restart: always
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
volumes:
  database:
